<!DOCTYPE html>
<html>
    <head>
        <title>Travels Management System</title>
    </head>
    <body>
       <header>
            <h1>Travels Management System</h1>
            {% include 'travelapp/nav.html' %}
       </header>
       <div>
            {% block content %}
            welcomw to Travel management system.
            This  system is designed and developed in Django.
            {% endblock %}
        </div>
       <footer>
        <p> &copy; 2024 Travel Management System : Site</p>
       </footer>
    <body> 
    <body>
</html>